.ModuleCard {
  border-width: medium;
  border-style: solid;
  border-color: #666666;
  min-height: 150px;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-right: 5px;
}

.ModuleCard:hover {
  background-color: #e5e5d8;
  border-color: black;
}

.module-image {
  font-size: 100px;
  width: 130px;
  float: left;
  margin-left: 5%;
}

.module-info {
  margin-top: 10px;
  font-size: 15px;
  margin-left: 20px;
  text-align: left;
}

