.ManageUsers {
  padding-left: 5%;
  padding-right: 5%;
  overflow-y: scroll;
  padding-bottom: 30px;
  text-align: left;
}

.add-user-container {
  padding-left: 20px;
  padding-right: 20px;
}

.form-check-box {
  margin-right: 10px;
}

#access-control-boxes {
  padding-right: 5px;
}

.user-management-rows{
  text-transform: capitalize;
}
