.menu-content {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
}

.menu-content > hr {
  border-color: black;
}

.menu-content > h3 {
  line-height: 20%;
}

.menu-content > a {
  color: black;
  font-size: 20px;
  line-height: 180%;
}

.menu-content > a:hover {
  color: #666666;
  text-decoration: none;
}

/* Search styles used in events and participants */
.search-box {
  max-width: 140px;
}

.search-term-row {
  padding-right: 6%;
  padding-left: 2%;
  padding-bottom: 5px;
  font-size: 16px;
}

#search-term-list {
  display: inline-block;
  padding-top: 5px;
}

.search-term-pill {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 3px;
  font-size: 11px;
  background-color: #3a9fbf;
  color: white;
  letter-spacing: .5px;
  line-height: 15px;
  border: 2px solid #3a9fbf;
  border-radius: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.search-term-times {
  margin-top: 2px;
}


/* The filter form that is used in events and participants */
.filter-form {
  margin-right: 5px;
}

.filter-form-date-input {
  max-width: 110px;
}

.filter-form-age-input {
  max-width: 70px;
}

.filter-form-label {
  margin-left: 5px;
  margin-right: 5px;
}


/* Tabs that are used on the event and report pages*/
.record-tabs {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  outline: black;
  margin-bottom: 10px;
}

.record-tab, .record-tab:hover {
  color: black;
  font-size: 22px;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 5px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.record-tab:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.record-tab-selected {
  background-color: lightgrey;
}

.record-tab > li {
  color: black;
}

.record-tab > li:hover {
  text-decoration: none;
  cursor: pointer;
}
