.App {
}

.menu-content {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
}

.menu-content > hr {
  border-color: black;
}

.menu-content > h3 {
  line-height: 20%;
}

.menu-content > a {
  color: black;
  font-size: 20px;
  line-height: 180%;
}

.menu-content > a:hover {
  color: #666666;
  text-decoration: none;
}

.search-term-pill {
  margin-right: 10px;
  margin-top: 3px;
  font-size: 11px;
  background-color: #3a9fbf;
  color: white;
  letter-spacing: .5px;
  line-height: 15px;
  border: 2px solid #3a9fbf;
  border-radius: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.search-term-times {
  margin-top: 2px;
}

.filter-form {
  margin-left: 10px;
}

.filter-form-date-input {
  max-width: 110px;
}

.filter-form-label {
  margin-left: 5px;
  margin-right: 5px;
}
