.Trends {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 30px;
  text-align: left;
}

.trends-table {
  max-height: 75vh;
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  overflow-y: scroll;
}

.plot-area {
  padding-left: 2vw;
  padding-left: 2vw;
  width: 100%;
}
