.Events {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 30px;
  text-align: left;
}

.events-header {
  margin-bottom: 40px;
  margin-top: 15px;
}

.event-icons:hover{
  cursor: pointer;
}

.event-table {
  max-height: 600px;
  width: 100%;
  margin-left: 5%;
  overflow-y: scroll;
}

h2 {
  line-height: 80%;
}

h4 {
  line-height: 5%;
  padding-left: 20px;
}

hr {
  border-color: black;
} 
